@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i';
@font-face {
  font-family: "barclayssymbol";
  src: url("fonts/BarclaysSymbol-Regular.eot?") format("eot"), url("fonts/BarclaysSymbol-Regular.woff2") format("woff2"), url("fonts/BarclaysSymbol-Regular.woff") format("woff"), url("fonts/BarclaysSymbol-Regular.ttf") format("truetype"); }

html {
  font-size: 100%;
  font-family: "Source Sans Pro", Helvetica, Clean, sans-serif;
  font-weight: 400;
  -webkit-tap-highlight-color: #00aeef;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-font-variant-ligatures: normal;
          font-variant-ligatures: normal; }

html,
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8); }

/* need to break this out */
* {
  padding: 0;
  margin: 0; }

header {
  padding-top: 3rem; }
  @media (min-width: 61.25em) {
    header {
      padding-top: 0; } }

span[data-icon]:before {
  font-family: barclayssymbol;
  content: attr(data-icon);
  speak: none;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem; }

span[data-icon].md:before {
  font-size: 1.25rem; }

span[data-icon].lg:before {
  font-size: 1.5rem; }

a {
  color: #007eb6;
  cursor: pointer;
  text-decoration: none; }

p {
  margin: 0.875rem 0; }

img {
  max-width: 100%;
  height: auto; }

q {
  quotes: "“" "”" "‘" "’"; }

q,
blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before {
  content: open-quote; }

q:after {
  content: close-quote; }

ul, ol {
  padding: 0;
  padding-left: 1rem; }

li {
  margin-bottom: 1rem; }

h3 {
  font-size: 1.25rem;
  color: #007eb6;
  font-weight: 400;
  line-height: 1.1;
  margin-top: 1.5rem; }

p + h3 {
  margin-top: 1.5rem; }

h3 + p {
  margin-top: 0.25rem; }

h4 {
  font-size: 1.1rem;
  color: #444;
  font-weight: 700;
  line-height: 1.1;
  margin-top: 1.5rem; }

h4 + p {
  margin-top: 0.25rem; }

h5, h6 {
  font-size: 1rem;
  color: #444;
  font-weight: 700;
  line-height: 1.1;
  margin-top: 1.5rem; }

h5 + p {
  margin-top: 0.25rem; }

h6 {
  font-style: italic; }

h6 + p {
  margin-top: 0.25rem; }

/* begin gs-container */
.content {
  border-top: 0.0625rem solid #ffffff;
  padding-top: 0;
  padding-bottom: 2.25rem;
  padding-top: 1rem; }

.content:after {
  content: '';
  display: block;
  clear: both; }

.u-cf:after, .u-cf:before {
  content: '';
  display: table; }

.gs-container {
  position: relative;
  margin: 0 auto; }

.content .gs-container, .content-footer .gs-container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.825rem; }

@media (min-width: 46.25em) {
  .gs-container {
    max-width: 46.25em; } }

@media (min-width: 61.25em) {
  .gs-container {
    /*max-width: $break-three;*/
    max-width: 67.5em; } }

@media (min-width: 71.25em) {
  .gs-container {
    max-width: 67.5em; } }

@media (min-width: 81.25em) {
  .gs-container {
    max-width: 67.5em; } }

@media (min-width: 30em) {
  .content .gs-container, .content-footer .gs-container {
    padding: 0 1.25rem; } }

article {
  background: #f5f5f8; }

.content__main-column {
  background: #fff;
  margin: auto;
  position: relative;
  bottom: 0;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 61.25em) {
    .content__main-column {
      padding-top: 1rem;
      margin-left: 0;
      margin-right: 17.5rem;
      min-height: 8rem; } }

.content__article-body {
  width: 100%; }
  @media (min-width: 61.25em) {
    .content__article-body {
      margin-left: 12rem;
      width: calc( 100% - 12rem);
      position: relative; } }

@media (min-width: 61.25em) {
  .content__header {
    padding-top: 5rem;
    background: #007eb6;
    background-image: url("https://live.barcap.com/publiccp/RSR/nyfipubs/template/inseries.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 0%; } }

.content__secondary-column {
  display: none;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 17.5rem;
  overflow: hidden; }
  .content__secondary-column .certifications-disclosures {
    font-size: 0.875rem;
    padding: 1rem 0.5rem; }
  @media (min-width: 61.25em) {
    .content__secondary-column {
      display: block; } }

.in-chapter .main {
  display: none; }

.header__sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 61.25em) {
    .header__sub {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }
  .header__sub .asset-class {
    display: none; }
    @media (min-width: 61.25em) {
      .header__sub .asset-class {
        display: block;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 12rem;
                flex: 0 0 12rem; } }
    .header__sub .asset-class h1 {
      font-weight: 600;
      color: #007eb6;
      font-size: 1rem;
      margin-top: 0.15rem; }
    .header__sub .asset-class date {
      display: block;
      margin-top: 0.25rem;
      font-size: 0.875rem; }

.main .series {
  font-weight: 400;
  font-size: 1.25rem; }

.series {
  color: #444;
  font-size: 1.125rem;
  font-weight: 400;
  padding-top: 1rem; }
  @media (min-width: 61.25em) {
    .series {
      padding-top: 0; } }

.main .headline {
  color: #222;
  font-size: 2.5rem;
  font-weight: 300;
  padding-bottom: 0.5rem;
  letter-spacing: -1px;
  line-height: 1.1; }

.main .lede {
  font-size: 1.45rem;
  font-weight: 300;
  line-height: 1.25;
  margin: 0;
  min-height: 6rem;
  padding-bottom: 1rem; }
  @media (min-width: 46.25em) {
    .main .lede {
      padding-bottom: 0; } }

.chapter-list .headline {
  color: #007eb6;
  font-size: 1.5rem;
  line-height: 1.1;
  font-weight: 400;
  padding-bottom: 0.25rem; }

.chapter-list p {
  margin-top: 0;
  margin-bottom: 1.5rem; }

blockquote {
  width: 100%;
  font-size: 1.25rem;
  line-height: 1.2;
  color: #007eb6;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.25rem 2rem;
  margin-bottom: 0.75rem; }
  blockquote .attribution {
    font-size: 0.875rem;
    color: #444;
    font-style: italic; }

/*@media (min-width: 46.25em) {
	blockquote {
		width: 13.75rem;
		float: left;
		padding-right: 1.25rem;
		padding-top: 0.1875rem;
		margin-bottom: 0.375rem;
	}
}
@media (min-width: 71.25em) {
	blockquote {
		width: 11.25rem;
		margin-left: -11.25rem;
		padding: 0 1.25rem;
		padding-top: 0.1875rem;
	}
}
@media (min-width: 81.25em) {
	blockquote {
		width: 16.25rem;
		margin-left: -16.25rem;
	}
}*/
.footnote-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
  overflow: hidden;
  max-height: 0;
  width: 0;
  opacity: 0;
  background: #eee;
  padding: 0 1rem;
  -webkit-transition: max-height .3s ease-out 0s,  width .01s ease-out .3s, opacity .2s ease-out 0s;
  transition: max-height .3s ease-out 0s,  width .01s ease-out .3s, opacity .2s ease-out 0s; }

.footnote-item-inner {
  display: block;
  margin: 0.5rem auto; }

.footnote-item.fn-displayed {
  display: block; }

.fn-displayed.fn-expanded {
  max-height: 3100px;
  width: 100%;
  opacity: 1;
  -webkit-transition: max-height .5s ease-in .01s, width .01s ease-in 0s, opacity .2s ease-in-out .21s;
  transition: max-height .5s ease-in .01s, width .01s ease-in 0s, opacity .2s ease-in-out .21s; }

.side-by-side-container {
  border-left: 3px solid #007eb6;
  padding-left: 1rem;
  margin-left: 0;
  margin-top: 1rem;
  margin-bottom: 1rem; }
  @media (min-width: 61.25em) {
    .side-by-side-container {
      padding-left: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border: none; } }
  .side-by-side-container .sidebyside {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .side-by-side-container .sidebyside.first {
      padding-right: 1.5rem; }
    .side-by-side-container .sidebyside h3 {
      font-size: 0.875rem;
      color: #444;
      font-weight: 600;
      line-height: 1.2;
      margin-bottom: 0.25rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .side-by-side-container .sidebyside h3 span {
        color: rgba(0, 0, 0, 0.5);
        white-space: nowrap; }
    .side-by-side-container .sidebyside .caption {
      margin-bottom: 1rem; }

.in-chapter .content__meta-container.main {
  display: none; }
  @media (min-width: 61.25em) {
    .in-chapter .content__meta-container.main {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.content__meta-container.sub {
  display: none; }

.in-chapter .content__meta-container.sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (min-width: 61.25em) {
    .in-chapter .content__meta-container.sub {
      display: none; } }

.content__meta-container {
  position: relative;
  margin-bottom: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 61.25em) {
    .content__meta-container {
      position: absolute;
      top: 0;
      margin-left: -12rem;
      width: 12rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .content__meta-container .posfixed {
        position: fixed;
        top: 4rem;
        background: rgba(255, 255, 255, 0.9); }
      .content__meta-container a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 0rem; } }
  .content__meta-container.icon-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .content__meta-container .disclosures {
    font-size: 0.875rem;
    line-height: 1.2;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
    @media (min-width: 61.25em) {
      .content__meta-container .disclosures {
        display: none; } }
  .content__meta-container ul {
    list-style: none;
    padding: 0; }
  .content__meta-container .icon-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
    @media (min-width: 61.25em) {
      .content__meta-container .icon-list {
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0; } }
    .content__meta-container .icon-list a {
      width: 2rem;
      height: 2rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-right: 0.5rem; }
      .content__meta-container .icon-list a img {
        width: 100%;
        height: 100%; }
  .content__meta-container li {
    margin-bottom: 0; }

.attachment {
  line-height: 1.2;
  padding: 0.5rem 1rem;
  border-left: 3px solid #007eb6; }
  .attachment > span {
    display: block;
    padding-top: 0.5rem;
    opacity: 0.7;
    font-size: 0.875rem;
    line-height: 1.3; }
  .attachment a span {
    padding-right: 0.15rem; }
  @media (min-width: 46.25em) {
    .attachment {
      float: right;
      width: 40%;
      margin-left: 1rem; } }

.certification {
  padding-top: 3rem; }
  .certification p {
    margin: 0.5rem 0;
    font-size: 0.875rem; }
  .certification .head {
    font-weight: bold;
    margin-bottom: 0; }
  .certification .head + p {
    margin-top: 0; }

.table-container {
  max-width: 22.5em;
  overflow: auto; }
  @media (min-width: 22.5em) {
    .table-container {
      max-width: 46.25em; } }
  @media (min-width: 46.25em) {
    .table-container {
      max-width: 61.25em; } }
  .table-container > .figure-header {
    margin-top: 0.25rem; }

table {
  width: 100%;
  margin: 0;
  font-size: 0.875rem;
  border-top: 2px solid #007eb6;
  border-collapse: collapse;
  border-bottom: 1px solid #ebeced; }
  table th, table td {
    line-height: 1.1;
    padding: 0.25rem;
    padding-left: 0; }
  table th {
    text-align: left;
    color: #007eb6;
    border-bottom: 1px solid #ebeced; }
  table tr:nth-of-type(even) {
    background: #eee; }

@media (min-width: 61.25em) {
  .table-lg {
    margin-left: -11rem; } }

.table-xl--btn {
  display: none; }

.table-xl .figure-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.25rem;
  background: #007eb6;
  padding: 0.5rem;
  color: #fff;
  cursor: pointer; }
  .table-xl .figure-header span {
    color: #fff;
    display: inline-block;
    padding-right: 0.5rem; }
  .table-xl .figure-header .fig-number {
    white-space: nowrap; }

.table-xl .table-xl--btn {
  display: inline-block;
  width: 0.875rem; }

.table-xl table, .table-xl .caption {
  display: none; }

.table-xl table {
  border-top: none; }
  @media (min-width: 61.25em) {
    .table-xl table {
      border-top: 2px solid #007eb6; } }

@media (min-width: 61.25em) {
  .table-xl {
    margin-left: -11rem; }
    .table-xl .figure-header {
      padding: 0;
      background: transparent;
      color: #444;
      cursor: pointer; }
      .table-xl .figure-header span {
        color: rgba(0, 0, 0, 0.5); }
      .table-xl .figure-header .table-xl--btn {
        display: none; }
    .table-xl table, .table-xl .caption {
      display: block; } }

.table-pop {
  display: block !important; }

.caption {
  font-size: 0.875rem;
  margin: 0;
  color: rgba(0, 0, 0, 0.5); }

.figure-header {
  font-size: 0.875rem;
  color: #444;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.25rem; }
  .figure-header span {
    color: rgba(0, 0, 0, 0.5); }

figure {
  position: relative; }

.gallery__fullscreen, .article__fullscreen {
  position: absolute; }

.gallery__fullscreen, .article__fullscreen {
  top: 0;
  right: 0;
  width: 2.75rem;
  height: 2.75rem;
  background-color: rgba(51, 51, 51, 0.6);
  margin: 0.625rem; }

.rounded-icon {
  border-radius: 62.5rem;
  display: inline-block;
  vertical-align: middle;
  position: relative; }

.inline-icon {
  fill: #ffffff; }

.gallery__fullscreen.inline-expand-image svg, .article__fullscreen.inline-expand-image svg {
  width: 50%;
  height: 50%; }

.centered-icon svg {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute; }

aside.pull {
  font-weight: 600;
  font-size: 1rem;
  width: 35%;
  float: left;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: .5rem 0 .5em 0;
  margin-right: 1rem;
  border-top: 1px solid #d0d2d3;
  border-bottom: 1px solid #d0d2d3; }
  @media (min-width: 61.25em) {
    aside.pull {
      width: 10rem;
      margin-left: -11rem;
      border-top: none;
      border-bottom: none; } }

.byline {
  font-size: 0.875rem;
  margin-top: 0;
  line-height: 1.2; }
  .byline span[data-icon] {
    color: rgba(51, 51, 51, 0.4); }
  .byline span[itemprop="author"] {
    margin-right: 0.5rem; }

.byline-sm {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  display: block;
  font-size: 1rem;
  padding-bottom: 0.75rem; }
  @media (min-width: 61.25em) {
    .byline-sm {
      display: none; } }

.in-chapter .byline-in-chapter {
  display: block; }

.byline.byline-lg ul {
  display: none; }
  @media (min-width: 61.25em) {
    .byline.byline-lg ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 1rem; }
      .byline.byline-lg ul .analyst {
        padding: 0.875rem 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; }
      .byline.byline-lg ul .analyst-photo {
        display: block;
        width: 2.125rem;
        height: 2.125rem;
        border-radius: 50%;
        background: #007eb6;
        margin-right: 0.5rem;
        color: #fff;
        text-align: center;
        line-height: 2.125rem;
        font-size: 1rem;
        font-weight: 600; }
      .byline.byline-lg ul .analyst-link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
      .byline.byline-lg ul .analyst-deets {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }

.popover {
  background: #fff;
  border: 1px solid #c7c7c7; }

.close-popover {
  padding: 0 0.5rem;
  float: right; }

.popover__content {
  padding: 0.875rem;
  padding-top: 0; }
  .popover__content.multiple {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 4px 14px -2px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 14px -2px rgba(0, 0, 0, 0.1); }
  .popover__content div {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
    width: 100%;
    color: rgba(0, 0, 0, 0.75);
    margin-bottom: 0.25rem;
    margin-top: 1rem; }
  .popover__content ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0; }
    .popover__content ul li {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 50%;
              flex: 1 1 50%;
      margin-bottom: 0; }
      .popover__content ul li span[data-icon] {
        color: #007eb6; }
    .popover__content ul a {
      color: #444;
      font-size: 0.85rem; }

.popover {
  z-index: 1;
  position: absolute;
  background: #fff;
  width: 86vw;
  display: none;
  border-radius: 0.25em;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(102, 102, 102, 0.35);
          box-shadow: 1px 1px 2px 1px rgba(102, 102, 102, 0.35); }
  .popover .popover-credentials {
    display: block-inline;
    padding-left: 1rem; }
  @media (min-width: 46.25em) {
    .popover {
      width: 50vw; } }
  @media (min-width: 61.25em) {
    .popover {
      width: 40vw; } }
  @media (min-width: 71.25em) {
    .popover {
      width: 30vw; } }

.popover.show {
  display: block; }

.chapter-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.875rem;
  line-height: 1.1;
  padding-top: 1rem; }
  .chapter-links a {
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #007eb6;
    padding: 0.25rem 0.5rem 0.25rem 0.25rem;
    border-radius: 0.25rem;
    color: #fff; }
  .chapter-links img {
    width: 0.75rem;
    padding-right: 0.5rem; }
  .chapter-links a:last-child {
    padding: 0.25rem 0.25rem 0.25rem 0.5rem; }
    .chapter-links a:last-child img {
      padding-left: 0.5rem;
      padding-right: 0; }

.quick-take {
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.875rem;
  border-left: 4px solid #007eb6;
  margin: 1rem 0; }
  .quick-take :last-child {
    margin-bottom: 0; }
  .quick-take h3 {
    margin-top: 0; }
  .quick-take h4 {
    margin-top: 0; }
  .quick-take h5 {
    margin-top: 0; }

.icn-1,
.icn-2,
.icn-3,
.icn-4,
.icn-5 {
  width: 36px; }

.icn-1 .st0,
.icn-3 .st0,
.icn-4 .st0 {
  fill: #A6A8AB;
  -webkit-transition: fill 1s linear;
  transition: fill 1s linear; }

.icn-1:hover .st0,
.icn-3:hover .st0,
.icn-4:hover .st0 {
  fill: #007eb6; }

.icn-3 .st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #A6A8AB; }

.icn-4 .st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #A6A8AB; }

svg .circle {
  stroke: #007eb6;
  /* calculate using: (2 * PI * R) */
  stroke-dasharray: 227;
  stroke-dashoffset: 227;
  -webkit-transition: stroke-dashoffset 0.5s linear;
  transition: stroke-dashoffset 0.5s linear; }

svg .circle:hover {
  stroke-dashoffset: 0; }

.toc.toc__open {
  display: block; }

.sect.header {
  padding-bottom: 0.5rem; }

.toc {
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0.95;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .toc .toc-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .toc img {
    width: 2rem;
    height: auto;
    margin: 0.5rem;
    vertical-align: middle;
    padding-left: 0.5rem; }
  .toc ul {
    padding: 0 1rem 1rem 1rem; }
  .toc span.region {
    color: #ddd;
    font-size: 0.75rem;
    font-weight: normal;
    display: block; }
  .toc a {
    color: #fff;
    display: inline-block;
    margin-right: 0.25rem;
    font-size: 0.875rem; }
  .toc .toc__elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 1.2; }
  .toc .toc__series {
    display: none; }
    @media (min-width: 61.25em) {
      .toc .toc__series {
        display: block;
        font-size: 1rem;
        margin-right: 1rem; } }
  .toc .toc__headline {
    font-size: 1rem;
    margin-right: 1rem;
    display: none; }
  .toc .toc__theme {
    display: none; }
  .toc .toc__content-type {
    font-size: 1rem; }
  .toc .toc__date {
    margin-left: auto;
    color: #fff;
    display: none; }
    @media (min-width: 61.25em) {
      .toc .toc__date {
        display: none; } }
  .toc .toc__toc {
    max-height: 0;
    overflow: hidden;
    background: #808285;
    width: 100%;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.64, -0.01, 0.15, 0.99);
    transition: all 0.5s cubic-bezier(0.64, -0.01, 0.15, 0.99); }
    .toc .toc__toc.toc__open {
      max-height: 1000px;
      padding-top: 1rem;
      padding-bottom: 1rem;
      -webkit-transition: all 0.5s cubic-bezier(0.64, -0.01, 0.15, 0.99);
      transition: all 0.5s cubic-bezier(0.64, -0.01, 0.15, 0.99); }
    @media (min-width: 61.25em) {
      .toc .toc__toc {
        left: 0; } }
    .toc .toc__toc ul ul {
      padding-bottom: 0; }
    .toc .toc__toc li {
      list-style: none;
      margin-bottom: 0;
      line-height: 1.2; }
    .toc .toc__toc .sect {
      margin-bottom: 0rem; }
    .toc .toc__toc .sect a {
      font-weight: 700;
      color: #fff;
      margin-top: 0.75rem; }
  @media (min-width: 61.25em) {
    .toc {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.2)));
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.2) 100%);
      position: absolute;
      width: 17.5rem;
      height: 75%;
      top: 25%;
      left: auto;
      right: -17.5rem; }
      .toc .toc-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; }
      .toc .toc__elements {
        border-left: 2px solid #fff;
        padding-left: 0.5rem; }
      .toc .menu-bug {
        width: 20%;
        padding: 0.5rem;
        margin: 0; }
      .toc .toc__series {
        display: none; }
      .toc .toc__headline {
        display: none; }
      .toc .toc__date {
        margin-left: 0; }
      .toc img {
        width: 4rem;
        margin: 0;
        padding: 0; }
      .toc div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 98%; }
      .toc .toc__content-type {
        display: block;
        font-size: 1.5rem;
        line-height: 1.1;
        font-weight: 400;
        margin-bottom: 0.25rem; }
      .toc .toc__theme {
        display: block;
        font-size: 1.25rem;
        line-height: 1.1;
        font-weight: 400; } }

@media (min-width: 61.25em) {
  .toc.fix-top {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    width: 100%;
    margin-top: 0;
    height: 0;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto; }
    .toc.fix-top .toc-container {
      max-width: 67.5em;
      margin: 0 auto; }
    .toc.fix-top .toc__elements {
      border-left: none; }
    .toc.fix-top .toc__series {
      display: block;
      font-size: 1rem;
      margin-right: 1rem; }
    .toc.fix-top .toc__headline {
      display: block;
      font-size: 1rem;
      margin-right: 1rem; }
    .toc.fix-top .toc__theme {
      display: none; }
    .toc.fix-top .toc__content-type {
      display: none; }
    .toc.fix-top .toc__date {
      display: block;
      margin-left: auto; }
    .toc.fix-top div {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .toc.fix-top .menu-bug {
      width: auto; }
    .toc.fix-top img {
      width: 2.25rem;
      margin: 0.5rem; }
    .toc.fix-top .toc__content-type {
      font-size: 0.875rem;
      font-weight: 700; } }
  @media (min-width: 61.25em) and (min-width: 46.25em) {
    .toc.fix-top .toc__toc {
      padding-right: 1rem;
      width: 100%; }
      .toc.fix-top .toc__toc > ul {
        padding-left: 4rem;
        width: 67.5em;
        margin: 0 auto; } }

@media (min-width: 61.25em) {
  .toc.fix-top-open {
    height: 3rem;
    -webkit-transition: all 0.25s;
    transition: all 0.25s; } }

/* included to display switching functionality only */
.switch-h1.alt {
  color: #444;
  font-size: 1.5rem;
  font-weight: 400; }

.in-chapter .switch-h1.alt {
  font-size: 1.25rem;
  font-weight: 600; }
  @media (min-width: 61.25em) {
    .in-chapter .switch-h1.alt {
      font-size: 1.25rem;
      font-weight: 600;
      color: #444; } }

.switch-h2.alt {
  margin-top: 0.25rem;
  font-size: 1.5rem; }

.in-chapter .switch-h2.alt {
  color: #222;
  font-size: 2.5rem;
  font-weight: 300;
  padding-bottom: 0.5rem;
  letter-spacing: -1px;
  line-height: 1.1; }
  @media (min-width: 61.25em) {
    .in-chapter .switch-h2.alt {
      margin-top: 0.25rem;
      font-size: 1.75rem;
      color: #007eb6;
      font-weight: 400; } }

.switch-lede {
  font-weight: 300;
  font-size: 1.45rem;
  line-height: 1.25; }
  @media (min-width: 61.25em) {
    .switch-lede {
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.5; } }

.sect img {
  display: none; }

.sect.active img {
  display: inline-block;
  width: 0.875rem;
  margin: 0;
  padding: 0; }
/*# sourceMappingURL=barclays-regular.css.map */