.quick-take {
	padding-left: 1rem;
	padding-top: 0.35rem;
	padding-bottom: 0.25rem;
	padding-right: 0.875rem;
	border-left: 4px solid $link;
	// background: $lightgray;
	:last-child {
		margin-bottom: 0;
	}
}