.side-by-side-container {
	border-left: 3px solid #007eb6;
	padding-left: 1rem;
	margin-left: 0;
	margin-top: 1rem;
	margin-bottom: 1rem;
	@media (min-width: $break-three){
		padding-left: 0;
		display: flex;
		border: none;
	}

	.sidebyside {
		box-sizing: border-box;
		&.first {
			padding-right: 1.5rem;
		}
		h3 {
			font-size: 0.875rem;
			color: $text;
			font-weight: 600;
			line-height: 1.2;
			margin-bottom: 0.25rem;
			span {
				color: $blk-050;
			}
		}
		.caption {
			margin-bottom: 1rem;
		}
		@media (min-width: $break-three){

		}
	}
}