.table-container {
	max-width: $break-one;
	overflow: auto;
		// 360px;
		@media (min-width: $break-one){
			max-width: $break-two;
		}
		@media (min-width: $break-two){
			max-width: $break-three;
		}
		 > .figure-header {
			margin-top: 0.25rem;
		}
	}

	table {
		width: 100%;
	// table-layout: fixed;
	// white-space: nowrap;
	margin: 0;
	font-size: 0.875rem;
	border-top: 2px solid $specialblue;
	border-collapse: collapse;
	border-bottom: 1px solid $gray10;
	th, td {
		line-height: 1.1;
		padding: 0.25rem;
		padding-left: 0;
	}
	th {
		// white-space: nowrap;
		text-align: left;
		color: $specialblue;
		border-bottom: 1px solid $gray10;
	}
	tr:nth-of-type(even) { 
		// background: #eee; 
	}
}