// toc displayed
.toc.toc__open {
	display: block;
}
// 
.toc {
	background-color: $blk-075;
	opacity: 0.95;
	position: fixed;
	z-index: 9999;
	top:0;
	left: 0;
	width: 100%;
	height: 3rem;
	display: flex;
	.toc-container {
		display: flex;
		align-items: center;
		flex-direction: row;
	}
	img {
		width: 2rem; 
		height:auto; 
		margin: 0.5rem;
		vertical-align: middle;
		padding-left:0.5rem;
	}
	ul {
		padding: 0 0 1rem 1rem;
	}
	a {
		color: #fff;
		display: inline-block;
		margin-right: 0.25rem;
		font-size: 0.875rem;
	}
	.toc__elements {
		border-left: 2px solid #fff; 
		padding-left: 0.5rem;
		display: flex;
		line-height: 1.2;
	}
	.toc__business-unit {
		display: none;
	}
	.toc__pubtitle {
		font-weight: 700;
	}
	.toc__date {
		margin-left:1rem;
		// margin-left: auto;
		.day {
			display: none;
		}
	}
	.toc__toc {
		max-height: 0;
		overflow: hidden;
		background: $gray75;
		width: 100%; 
		position: absolute;
		left: 0;
		transition: all 0.5s cubic-bezier(0.64, -0.01, 0.15, 0.99);
		&.toc__open {
			max-height: 1000px;
			padding-top: 1rem;
			padding-bottom: 1rem;
			transition: all 0.5s cubic-bezier(0.64, -0.01, 0.15, 0.99);
		}
		@media (min-width: $break-three){
			left: 0;
		}
		ul ul {
			padding-bottom: 0;
		}
		li {
			list-style: none;
			margin-bottom: 0;
		}
		.sect {
			margin-bottom: 0rem;
		}
		.sect a {
			font-weight: 700;
			color: #fff;
			margin-top: 0.75rem;
		}
	}
	// .toc wide screen
	@media (min-width: $break-three){
		background-color: $blk-060;
		position: absolute;
		width: 17.5rem;
		height: 75%;
		top: 25%;
		left: auto;
		right:-17.5rem;
		.toc-container {
			display: flex; 
			flex-direction: row
		}
		.menu-bug {
			width: 20%;
			padding: 0.5rem;
			margin: 0;
		}
		.toc__date {
			margin-left:0;
					.day {
			display: inline;
		}
		}
		img {
			width: 4rem; 
			margin: 0;
			padding: 0;
			// margin: 0.5rem;
		}
		div {
			display: flex;
			flex-direction: column;
			width: 80%;
		}
		.toc__business-unit {
			display: inline-block;
			margin-bottom: 0.25rem;
		}
		.toc__pubtitle {
			font-size: 1.2rem;
			line-height: 1.1;
			font-weight: 400;
			margin-bottom: 0.25rem;
		}
	}
}
// when the menu is fixed to the top
.toc.fix-top {
	@media (min-width: $break-three){
		position: fixed;
		width: 100%;
		margin-top: 0;
		height: 0;
		top: 0;
		left: 0;
		bottom: auto;
		right: auto;
		.toc-container {
			min-width: $workingbreak;
			margin: 0 auto;
		}
		div {
			flex-direction: row;
			align-items: center;
		}
		.menu-bug {
			padding-left:1rem;
			width: auto;
		}
		img {
			width: 2rem; 
			margin: 0.5rem;
		}
		.toc__elements {
		}
		.toc__date {
			margin-left: auto;
		}
		.toc__business-unit {
			display: none;
		}
		.toc__pubtitle {
			font-size: 0.875rem;
			font-weight: 700;
		}
		.toc__toc {
			@media (min-width: $break-two){
				padding-right: 1rem;
				width: 100%;
				> ul {
					padding-left:4rem;
					width: 67.5em;
					margin:0 auto;
				}
			}
		}
	}
}
.toc.fix-top-open {
	@media (min-width: $break-three){
		height: 3rem;
		transition: all 0.25s;
	}
}